.progress-bar {
  grid-area: progress;
  margin: auto;
  height: 20px;
  width: 350px;
  color: #E9C46A;
  border-radius: 50px;
  border: 1px solid #E9C46A;
  .filler {
    background: #E9C46A;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
  }
}