#quiz {
  display: grid;
  grid-template:
  [row1-start] 'question' 1fr [row1-end]
  [row2-start] 'main' 3fr [row2-end]
  [row3-start] 'progress' 1fr [row3-end]
  / 1fr;
  text-align: center;
  height: 600px;
  width: 600px;
  padding: 2em;
  background-color: #7C9885;
  border-radius: 50px;

  h2 {
    grid-area: question;
    color: #033F63;
    width: 80%;
    margin: auto;
  }
}