@import 'variables';

#quiz {
  display: grid;
  grid-template:
  [row1-start] 'question' auto [row1-end]
  [row2-start] 'choices' 1.5fr [row2-end]
  [row3-start] 'progress' 50px [row3-end]
  / 1fr;
  height: 500px;
  width: 650px;
  padding: 2em;
  background-color: $morning-blue;
  background-image: url('https://www.transparenttextures.com/patterns/60-lines.png');
  border: 10px solid $sage;
  border-radius: 50px;
  &:hover{
    box-shadow: 10px 10px 5px $shadow;
  }
  h2 {
    grid-area: question;
    margin: 0;
    padding-top: .5em;
    padding-bottom: 1em;
    color: $indigo;
    font-size: 1.8em;
  }
  @media (max-width: 768px) {
    width: 400px;
    h2 {
      font-size: 1.4em;
      padding-bottom: .5em;
    }
  }
  @media (max-width: 500px) {
    // margin-top: -9em;
    width: 200px;
    height: 350px;
    padding: 1.5em;
    grid-template:
      [row1-start] 'question' auto [row1-end]
      [row2-start] 'choices' 1.5fr [row2-end]
      [row3-start] 'progress' 30px [row3-end]
      / 1fr;
    h2 {
      margin-top: 0;
      padding-bottom: 1em;
      font-size: .87em;
    }
  }
  
  @media (max-height: 595px) {
    width: 450px;
    max-height: 300px;
  }
  @media (max-height: 500px) {
    min-width: 200px;
    height: 200px;
    padding: 1.2em;
    grid-template:
      [row1-start] 'question' auto [row1-end]
      [row2-start] 'choices' 1.5fr [row2-end]
      [row3-start] 'progress' 20px [row3-end]
      / 1fr;  
    h2 {
      font-size: .8em;
      margin-top: -1em;
    }
  }
  @media (max-height: 600px) and (max-width: 320px) {
    max-width: 200px;
    max-height: 500px;
  }
}