@import 'variables';

.choices {
  grid-area: choices;
  display: grid;
  grid-template:
    [row1-start] 'a1 a2' 1fr [row1-end]
    [row2-start] 'a3 a3' 1fr [row2-end]
    / 1fr 1fr;
  gap: 1em;
  .answer {
    font-weight: 700;
    font-size: 1.5em;
    &:hover{
      box-shadow: 5px 5px 5px #28666E9F;
    }
  }
  &:hover > .answer {
    opacity: 0.6;
  }
  &:hover > .answer:hover {
  opacity: 1.0;
  }
  @media (max-width: 768px) {
    gap: .8em;
  }
  @media (max-width: 500px) {
    font-size: .4em;
    grid-template:
      [row1-start] 'a1' 1fr [row1-end]
      [row2-start] 'a2' 1fr [row2-end]
      [row3-start] 'a3' 1fr [row3-end]
      [row4-start] 'a4' 1fr [row4-end]
      / 1fr;
    gap: 1em;
  }
  @media (max-height: 500px) {
    font-size: .4em;
    grid-template:
      [row1-start] 'a1' 1fr [row1-end]
      [row2-start] 'a2' 1fr [row2-end]
      [row3-start] 'a3' 1fr [row3-end]
      [row4-start] 'a4' 1fr [row4-end]
      / 1fr;
    gap: 1em;
  }
}
.results {
  grid-area: choices;
  display: grid;
  grid-template:
  [row1-start] 'a1 a2' 1fr [row1-end]
  [row2-start] 'results results' 60px [row2-end]
  [row3-start] 'a3 a4' 1fr [row3-end]
  / 1fr 1fr;
  gap: 1em;
  .option {
    font-size: 1.5em;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:hover {
      box-shadow: none;
    }
  }
  .next {
    grid-area: results;
    button {
      background-color: $teal;
      font-size: 1em;
      color: $sage;
      @media (max-width: 500px) {
        font-size: 1.2em;
        width: 80%;
      }
    }
  }
  @media (max-width: 768px) {
    grid-template:
    [row1-start] 'a1 a2' 1fr [row1-end]
    [row2-start] 'results results' 35px [row2-end]
    [row2-start] 'a3 a4' 1fr [row2-end]
    / 1fr 1fr;
    gap: .8em;
  }
  @media (max-width: 500px) {
    font-size: .4em;
    grid-template:
      [row1-start] 'a1' 1fr [row1-end]
      [row2-start] 'a2' 1fr [row2-end]
      [row3-start] 'a3' 1fr [row3-end]
      [row4-start] 'a4' 1fr [row4-end]
      [row5-start] 'results' 1fr [row5-end]
      / 1fr;
    gap: 1em;
  }
  @media (max-height: 500px) {
    font-size: .4em;
    grid-template:
      [row1-start] 'a1 a2' 1fr [row1-end]
      [row2-start] 'a3 a4' 1fr [row2-end]
      [row5-start] 'results results' 0px [row5-end]
      / 1fr 1fr;
    gap: 1em;
  }
}
