.choices {
  grid-area: choices;
  display: grid;
  grid-template:
  [row1-start] 'a1 a2' 1fr [row1-end]
  [row2-start] 'a3 a3' 1fr [row2-end]
  / 1fr 1fr;
  gap: 1em;
  .answer {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    cursor: pointer;
    color: #28666E;
    background-color: #B5B682;
    border-radius: 50px;
    border-style: none;
  }
}
.answer:hover{
  box-shadow: 5px 5px 5px #28666E9f;
}
.choices:hover > .answer {
  opacity: 0.8;
}
.choices:hover > .answer:hover {
opacity: 1.0;
}

.results {
  grid-area: choices;
  display: grid;
  grid-template:
  [row1-start] 'a1 a2' 1fr [row1-end]
  [row2-start] 'a3 a3' 1fr [row2-end]
  / 1fr 1fr;
  gap: 1em;
  .option {
    padding-top: 70px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #28666E;
    background-color: #B5B682;
    border-radius: 50px;
    border-style: none;
  }
}

.next {
  grid-area: next;
  display: flex;
  justify-content: space-evenly;
}

