@import "variables";
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("https://www.transparenttextures.com/patterns/white-diamond-dark.png"), linear-gradient($indigo, $teal);

  .splash-page {
    max-width: 80%;
    h1 {
      margin-bottom: 50px;
    }
    button {
      background-color: $sage;
      padding: 20px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 50px;
      border: 2px solid $sage; 
      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: 700;
      font-size: 1.5em;
      color: $teal;
    }
  }
}