@import "variables";
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("https://www.transparenttextures.com/patterns/white-diamond-dark.png"), linear-gradient($indigo, $teal);

  .splash-page {
    max-width: 80%;
    h1 {
      margin-bottom: 50px;
    }
    button {
      font-size: 2em;
    }
  }
}