@import 'variables';
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 95%;
  position: fixed;
  bottom: 0;
  margin-bottom: .6em;
  .name {
    margin: 0;
  }
  .links {
    font-size: 1.8em;
    a {
      padding-left: .5em;
      text-decoration: none;
      color: inherit;
    }
    &:hover > a {
      opacity: 0.5;
    }
    &:hover > a:hover {
    opacity: 1.0;
    }
    @media (max-width: 500px) {
      font-size: 1.2em;
    }
  }

  @media (max-height: 500px) {
    font-size: .6em;
  }
  @media (max-width: 500px) {
    font-size: .6em;
  }
}