@import "variables";
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  position: fixed;
  bottom: 0;
  margin-bottom: .5em;
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }
  .links {
    font-size: 1.8em;
    a {
      padding-left: .5em;
    }
    &:hover > a {
      opacity: 0.5;
    }
    &:hover > a:hover {
    opacity: 1.0;
    }
  }
}