@import 'variables';

#score {
  text-align: center;
  height: 450px;
  width: 500px;
  padding: 2em;
  background-color: $morning-blue;
  background-image: url('https://www.transparenttextures.com/patterns/inspiration-geometry.png');
  border: 10px solid $sage;
  border-radius: 50px;
  &:hover{
    box-shadow: 10px 10px 5px $shadow;
  }
  h1 {
    color: $indigo;
    font-size: 4.5em;
  }
  h2 {
    font-size: 4em;
    color: #9D0208;
  }
  .play-again {
    font-size: 2em;
  }
  @media (max-width: 650px) {
    width: 500px;
    height: 400px;
    h1 {
      font-size: 3.5em;
    }
  }
  @media (max-width: 500px) {
    width: 250px;
    height: 250px;
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 2em;
    }
    .play-again {
      font-size: 1.5em;
    }
  }

}