@import "variables";
#score {
  text-align: center;
  height: 500px;
  width: 500px;
  padding: 2em;
  background-color: $morning-blue;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  border: 10px solid $sage;
  
  color: $indigo;

  h1 {
    font-size: 4.5em;
  }
  h2 {
    font-size: 4em;
    color: #9D0208;
  }
  .play-again {
    background-color: $sage;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
    border: 2px solid $sage; 
    font-family: $button-font;
    font-weight: 700;
    font-size: 2em;
    color: $teal;
    cursor: pointer;
  }
}

#score:hover{
  box-shadow: 10px 10px 5px $shadow;
}
.play-again:hover{
  box-shadow: 5px 5px 5px $shadow;
}

