@import 'variables';

body {
  margin: 0;
  text-align: center;
  font-family: $title-font;
  font-size: 16px;
  color: $sage;
  h1 {
    font-size: 3em;
  }
  button {
    background-color: $sage;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    border-radius: 50px;
    font-family: $button-font;
    font-weight: 700;
    color: $teal;
    cursor: pointer;
    &:hover{
      box-shadow: 10px 10px 10px $shadow;
    }
    @media (max-width: 768px) {
      // padding: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (max-height: 500px) {
      padding: 5px;
    }
  }
}
