$button-font: 'Montserrat Alternates', sans-serif; // 600 or 700
$title-font: 'Montserrat', sans-serif; // 400 or 800
$indigo: #033F63;
$teal: #28666E;
$morning-blue: #7C9885;
$sage: #B5B682;
$cream: #FEDC97;
$shadow: #033F639F;